## Use the Erlang/Elixir VM options to start
## Name of the node
## NOTE: This must match the node name in vm.args in the release config
-name sscmex_example@127.0.0.1

## Heartbeat management; can be used to detect dead nodes
## --heart <timeout>
##-heart 600

## Enable kernel poll
##+K true

## Enable kernel poll
##+K true

## Add preloaded modules
##-mode interactive

## Set cookie
##-setcookie MY_COOKIE
